.page {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  height: 100vh;
}

.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 16px 98px 16px;
  -webkit-overflow-scrolling: touch;
}
